<form class="Post" id="comment_form" name="comment_form" method="post" action="/posts/<%=x.id%>/comments" >
        <input id ="comment_text" type="text" name="comment_text" placeholder="enter comments">
        <input id="user_id" type="hidden" name="user_id" value="<%= current_user.id%>">
        <input id="user_id" type="hidden" name="class" value="Post">
        <input id="comment_button" type="submit" value="comment">
</form>