/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body{
  background-image: url('wallpaper.jpeg');
  color: white;
  background-size: cover;
  font-size: 20px;
 }

 header{
  height: 50px;
  font-size: 10px;
 }

 h4{
  margin: 5px;
 }

 #article_link{
  color:#2980b9;
  font-size: 12px;
 }

 #down_vote{
  background-color: white;
  color:#d35400;
  border: 0px;
  font-size: 8px;
  width: 45px;
  padding: 1px;
  border-radius: 4px
 }

 #postVoteDown{
  font-size: 14px;
 }
  #postVoteUp{
  font-size: 14px;
 }

 #up_vote{
  background-color: white;
  color:#2980b9;
  border: 0px;
  font-size: 8px;
  width: 40px;
  padding: 1px;
  border-radius: 4px
 }

 #comment_form{
 }

 #comment_button{
  color:green;
 }

 #comment_text{
  border: 0px;
  background-color: rgba(255, 255, 255,.50)
 }

 #post_container{
  overflow: scroll;
  height: 450px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
 }

 #post_form{
  margin-left: auto;
  margin-right: auto;
  width:95%;
  margin-top: -80px;
  height: 50px;
  padding-bottom: 10px;
 }

 #tagline{
  width: 200px;
  height: 20px;
  border: 1.5px solid black;
  background: rgba(0,0,0,.7);
  color: white;
 }

 #post_link{
  width: 200px;
  height: 20px;
  border: 1.5px solid black;
  background: rgba(0,0,0,.7);
  color: white;

 }

 #button{
  border: 0px;
  background: red;
 }

 #post_button{
  color: white;
  background-color: #e74c3c;
  border: 0px;
  height: 22px
 }

 #user{
  position:absolute;
  right:50px
 }

 #title{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 50px;
  margin-top: -120px;
 }

 .userPost{
  background: rgba(0,0,0,.7);
  border: 3px solid black;
  padding: 10px;
 }

 .postComment{
  background: rgba(192, 57, 43,.5);
  border: 0px solid white;
  padding: 10px;
  font-size: 12px;
 }
 .commentComment{
  background: rgba(41, 128, 185,.50);
  /*border: 2px solid white;*/
  padding: 10px;
 }
